
body {
  font-size: 64px;
  background-color: black;
}

h1{
    color: white;
}

.app-title {
    font-size: 2rem;
    text-align: center;
}

button {
  font-size: 26px;
}

.background-green {
  background: green;
  background-color: green;
}

.background-420 {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: green;
  background-image: url("https://media.giphy.com/media/SGxf0hqfi5pXW/giphy.gif");
  //background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.background-666 {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: red;
  background-image: url("https://media.giphy.com/media/qpR1oB5EvsRuo/giphy.gif");
  //background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.background-1999 {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: purple;
  background-image: url("https://media.giphy.com/media/3o6ZtnC9g3XGctIHL2/giphy.gif");
  //background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 80px 80px 80px 80px 80px;
  grid-template-rows: 80px 80px;
  grid-template-areas:
  "header header header header"
  "main main main main"
  "main main main main"
  "main main main main"
  "main main main main"
  "main main main main";
}

.item-header {
  grid-area: header;
  color: white;
}

#globalAnswer {
  background-color: black;
  font-size: 1px;
}

#currentValue {
  background-color: black;
  grid-column-start: 1;
  grid-column-end: span 5;
  text-align: right;
}

button.btn {
  background-color: dimgray;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 50%;
}

button.operator {
  background-color: orange;
}

button.operator:focus {
  background-color: white;
  color: gold
}

button.silver {
  background-color: silver;
  color: black;
}

button.silver:focus {
  background-color: white;
  color: black
}


button.clear {
  border-radius: 50px;
  grid-column-end: span 1;
}

button.equals {
  background-color: orange;
  border-radius: 50px;
  grid-column-end: span 2;
}

button.equals:focus {
  background-color: white;
  color: gold
}

button.zero {
  text-align: left;
  padding-left: 32px;
  grid-row: 6;
  grid-column-start: 1;
  grid-column-end: span 2;
  border-radius: 50px;
}